.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .header img {
    height: 100px;
    width: 100px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .food_page {
    padding: 20px;
  }
  
  .smoothies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  
  .product h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #333; 
  }
  
  .product p {
    margin: 5px 0;
   
  }
  .logop{
  position: absolute;
  top: 0;
  left: 0;
  width:60px;
  height:70px;
  }